This file contains the Templates to access the project 'music_recommendation_system24'on Big Query and its tables as well as templates to send data back to the project

In [1]:
#Import Jobs
from google.cloud import bigquery     # If you are working locally, make sure you have Google Cloud library installed
import pandas as pd
from google.oauth2 import service_account

import pyarrow.parquet as pq

In [ ]:
# Connect to BQ

credentials = service_account.Credentials.from_service_account_file(
'C:/Users/miria/Desktop/music-recommendation-system-24-3d0d21fb1f8b.json')
# music-recommendation-system-24-3d0d21fb1f8b.json is the service account JSON file. Save the file locally on your device and add the path here. 
# make sure that the slashes in the path are '/' and not '\'

project_id = 'music-recommendation-system-24'
client = bigquery.Client(credentials= credentials,project=project_id)

In [ ]:
# Query BQ

query_job = client.query("""
   SELECT 
      season
   FROM `music-recommendation-system-24.test.test_table` 
   LIMIT 1000""")
#but the query in three quote marks


results = query_job.result() # Wait for the job to complete.

rows = [dict(row) for row in results]

# Convert the list of dictionaries to a DataFrame
df_bq = pd.DataFrame(rows)

In [3]:
df_bq

     season
0      1977
1      1977
2      1977
3      1977
4      1977
..      ...
995    1991
996    1991
997    1991
998    1991
999    1991

[1000 rows x 1 columns]

In [ ]:
# Create Table in Big Query

# Define table name, in format dataset.table_name
table = 'test.test_table_creation'

# Load data to BQ
job = client.load_table_from_dataframe(df_bq, table)